//- Base settings
:root {
	--color: #fff;
	--color2: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	padding: 2em;
	background: #777777;
}

.wrap {
	min-height: 100%;
	padding: 2em;
	display: grid;
	gap: 2em;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	overflow: hidden;
}

#clock {
	width: auto;
	height: 851px;
	overflow: visible;
	@media (max-width: 900px) {
		height: 660px;
	}
	@media (max-width: 420px) {
		height: 380px;
	}
}

.night-time {
	background-color: #031758;
}

.day {
	background-color: rgb(63, 106, 245);
}
