//- Base settings
:root {
	--color: #fff;
	--color2: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	padding: 2em;
	background: #777777;
}

.wrap {
	height: 100%;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	overflow: hidden;
}

.overlap {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	/* 	@media (max-width: 420px) {
		grid-column: auto;
		grid-row: auto;
	} */
}

.card--Input {
	text-align: center;
	z-index: 420;
}

.btn {
	width: 100%;
	display: block;
}

#clock {
	width: auto;
	height: 851px;
	overflow: visible;
	@media (max-width: 900px) {
		height: 660px;
	}
	@media (max-width: 420px) {
		height: 380px;
	}
}

.night-time {
	color: rgb(63, 106, 245);
	background-color: #031758;
}

.day {
	color: #031758;
	background-color: rgb(63, 106, 245);
}
